<style>
  .ruby-is-the-best {
      color: red;
  }
</style>

<h3>About this page</h3>
<p>
  Well, this is only a test.<br />
  I'm using:<br />
  <ul>
    <li>Ruby on Rails <span class="ruby-is-the-best"><3</span> - as language/framework</li>
    <li>MongoDB as database</li>
    <li>Devise for user autenthication</li>
  </ul>

</p>